# Rush uses this file to configure the package registry, regardless of whether the
# package manager is PNPM, NPM, or Yarn.  Prior to invoking the package manager,
# Rush will always copy this file to the folder where installation is performed.
# When NPM is the package manager, Rush works around NPM's processing of
# undefined environment variables by deleting any lines that reference undefined
# environment variables.
#
# DO NOT SPECIFY AUTHENTICATION CREDENTIALS IN THIS FILE.  It should only be used
# to configure registry sources.

registry=https://botbuilder.myget.org/F/botbuilder-v4-js-daily/npm/
# registry=https://registry.npmjs.org/
@typescript-eslint:registry=https://registry.npmjs.org/
@oclif:registry=https://registry.npmjs.org/
@fimbul:registry=https://registry.npmjs.org/
@azure:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@sinonjs:registry=https://registry.npmjs.org/
@nodelib:registry=https://registry.npmjs.org/
@mrmlnc:registry=https://registry.npmjs.org/
@sindresorhus:registry=https://registry.npmjs.org/
always-auth=false
